.top{
    background-color: white;
    height: 30px;
    align-items: center;
    display: flex;
    gap: 10px;
}
button{
    color: black;
    font-weight: 70;
    background-color: white;
    border: none;
    border-radius: 10px;
    transition: opacity 2s;
    height: 30px;
}
button:hover{
     box-shadow: 10px 10px 20px black;
     opacity: 0.7;
}
h1{
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    height: 50px;
    color: antiquewhite;
}
.heading{
    text-align: center;
}
h4{
    text-align: center;
    color: grey;
}
p{
    text-align: center;
}
.image{
      background-color:rgba(242, 245, 250);
      height: 408px;
}
.align-image{
    float: right;
}
body{
    background-color: rgb(188, 238, 238);
}
